set mouse # Enables mouse support
set linenumbers # Enable line numbers
set indicator # Enable the scrollbar
set jumpyscrolling # Scroll half a page at a time instead of line by line
set magic # Enable syntax highlighting using libmagic if normal methods fail
set tabstospaces # Convert spaces to tabs
set tabsize 4 # Set tab width to 4 spaces
set autoindent # Automatically indent
bind ^H chopwordleft all # CTRL+Backspace - Delete word
set zap # Allows you to highlight text (CTRL+SHIFT+ARROW) and delete it with backspace.
set minibar # Displays file name and other information in the bottom bar. Removes top bar.
set softwrap # visual wrapping only

# Syntax highlighting
include /usr/share/nano/yaml.nanorc
include /usr/share/nano/lua.nanorc
include /usr/share/nano/nanohelp.nanorc
include /usr/share/nano/sql.nanorc
include /usr/share/nano/email.nanorc
include /usr/share/nano/rust.nanorc
include /usr/share/nano/guile.nanorc
include /usr/share/nano/python.nanorc
include /usr/share/nano/go.nanorc
include /usr/share/nano/perl.nanorc
include /usr/share/nano/ruby.nanorc
include /usr/share/nano/xml.nanorc
include /usr/share/nano/texinfo.nanorc
include /usr/share/nano/changelog.nanorc
include /usr/share/nano/tex.nanorc
include /usr/share/nano/javascript.nanorc
include /usr/share/nano/groff.nanorc
include /usr/share/nano/makefile.nanorc
include /usr/share/nano/c.nanorc
include /usr/share/nano/extra/fortran.nanorc
include /usr/share/nano/extra/povray.nanorc
include /usr/share/nano/extra/spec.nanorc
include /usr/share/nano/extra/ada.nanorc
include /usr/share/nano/extra/haskell.nanorc
include /usr/share/nano/autoconf.nanorc
include /usr/share/nano/json.nanorc
include /usr/share/nano/markdown.nanorc
include /usr/share/nano/ocaml.nanorc
include /usr/share/nano/po.nanorc
include /usr/share/nano/awk.nanorc
include /usr/share/nano/nanorc.nanorc
include /usr/share/nano/default.nanorc
include /usr/share/nano/man.nanorc
include /usr/share/nano/patch.nanorc
include /usr/share/nano/elisp.nanorc
include /usr/share/nano/html.nanorc
include /usr/share/nano/objc.nanorc
include /usr/share/nano/sh.nanorc
include /usr/share/nano/css.nanorc
include /usr/share/nano/php.nanorc
include /usr/share/nano/java.nanorc
include /usr/share/nano/nftables.nanorc
include /usr/share/nano/asm.nanorc
include /usr/share/nano/tcl.nanorc
include /usr/share/nano/cmake.nanorc
